<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.marcelocantos.voicelab</string>
    <key>CFBundleName</key>
    <string>voicelab</string>
    <key>CFBundleExecutable</key>
    <string>voicelab</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>voicelab streams microphone audio to xAI Grok Realtime for full-duplex voice interaction.</string>
</dict>
</plist>
